<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="utf-8" th:remove=tag />
	<meta name="viewport" content="width = device-width, initial-scale = 1">

	<link th:href="@{/css/list.css}" rel="stylesheet">

	<title>メンバー一覧 - プロジェクト管理アプリ</title>
</head>

<body>
	<div layout:fragment="content">
		<main class="offcanvas-outside bg-light">
			<div class="container-fluid">
				<!-- main content -->
				<div class="row">
					<div class="col">
						<div class="card shadow mt-2">
							<div class="card-header">
								<div class="d-flex justify-content-between align-items-center">
									<div class="d-flex">
										<h6 class="text-navy my-2"><i class="bi bi-person me-2"></i>メンバー</h6>
										<nav aria-label="breadcrumb" class="ms-4 my-auto">
											<ol class="breadcrumb my-auto">
												<li class="breadcrumb-item active" aria-current="page">一覧</li>
											</ol>
										</nav>
									</div>
									<div class="d-flex justify-content-end">
										<!-- 検索ボックス -->
										<form action="/member/list" method="get" autocomplete="off">
											<div class="input-group custom-width">
												<input type="text" class="form-control form-control-sm" name="query"
													aria-describedby="button-addon">
												<button class="btn btn-outline-secondary btn-sm" type="submit"
													id="button-addon">
													<i class="bi bi-search"></i>
												</button>
											</div>
										</form>
										<!-- フィルタボタン（保留） -->
										<!-- <button class="btn btn-outline-secondary btn-sm ms-2">
											<i class="bi bi-filter"></i>
										</button> -->
										<!-- 登録ボタン -->
										<a th:href="@{/member/add}" class=" btn btn-primary btn-sm ms-5">
											<i class="bi bi-plus-circle"></i>
											<span class="text">登録</span>
										</a>
									</div>
								</div>
							</div>
							<!-- table data -->
							<div class="card-body">
								<div th:if="${members.size() == 0}" class="mb-3">該当データがありません</div>
								<table th:if="${members.size() > 0}" id="member-table" class="table table-hover mb-2">
									<thead class="table-light">
										<tr>
											<th>メンバー名</th>
											<th>フリガナ</th>
											<th>所属</th>
											<th>連絡先メール</th>
											<th></th>
										</tr>
									</thead>
									<tbody class="align-self-center">
										<tr th:each="member : ${members}" th:object="${member}"
											data-member-id="${member.memberId}">
											<td th:text="${member.memberName}"></td>
											<td th:text="${member.furigana}"></td>
											<td th:text="${member.department.departmentName}"></td>
											<td th:text="${member.mail}"></td>
											<td>
												<div class="btn-group">
													<button class="btn btn-white dropdown-toggle" type="button"
														style="--bs-btn-padding-y: .01rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .7rem;"
														data-bs-toggle="dropdown" data-bs-auto-close="outside"
														aria-expanded="false">
														<i class="bi bi-three-dots"></i>
													</button>
													<ul class="dropdown-menu">
														<li><a class="dropdown-item"
																th:href="@{/member/edit/{memberId}(memberId=*{memberId})}">
																<i class="bi bi-pencil me-2"></i>編集</a>
														</li>
														<li><button type="button" class="dropdown-item delete-button"
																data-bs-toggle="modal"
																data-bs-target="#deleteMemberConfirmModal"
																th:data-member-id="${member.memberId}">
																<i class="bi bi-trash3 me-2"></i>削除</button>
														</li>
													</ul>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
								<hr th:if="${members.size() > 0}">
								<div class="d-flex justify-content-between align-items-center me-3">
									<!-- Total count display -->
									<div th:if="${members.size() > 0}" class="record-info ms-3">
										全 [[${page.totalElements}]] 件
									</div>
									<!-- ページネーション -->
									<ul th:if="${members.size() > 0}" class="pagination d-flex justify-content-end">
										<!-- 最初のページへのリンク -->
										<li class="page-item" th:class="${page.first ? 'disabled' : ''}"
											th:if="${!page.first}">
											<a class="page-link min-size"
												th:href="@{|/member/list?page=0&query=${query}|}">&laquo;</a>
										</li>
										<!-- 各ページへのリンク -->
										<li class="page-item" th:each="i : ${#numbers.sequence(0, page.totalPages-1)}"
											th:class="${i == page.number ? 'active' : ''}">
											<a class="page-link min-size"
												th:href="@{'/member/list?page=' + ${i} + '&query=' + ${query}}">[[${i+1}]]</a>
										</li>
										<!-- 最後のページへのリンク -->
										<li class="page-item" th:class="${page.last ? 'disabled' : ''}"
											th:if="${!page.last}">
											<a class="page-link min-size"
												th:href="@{'/member/list?page=' + ${page.totalPages-1} + '&query=' + ${query}}">&raquo;</a>
										</li>
									</ul>
								</div>
								<!-- 削除確認モーダルウィンドウ -->
								<div class="modal" tabindex="-1" id="deleteMemberConfirmModal">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">削除確認</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<p>本当に削除しますか？</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">キャンセル</button>
												<button type="button" class="btn btn-danger col-2"
													id="confirmMemberDelete">OK</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>