<!DOCTYPE html>
<html xmlns:th=" http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout2}">

<head>
	<meta charset="UTF-8" th:remove="tag">
</head>

<body>
	<main layout:fragment="content" class="bg-light vh-100">
		<div class="container-fluid">
			<div class=" row mh-100 align-items-center justify-content-center">
				<!-- エラーメッセージ -->
				<div th:replace="~{fragments/message :: error}"></div>
			</div>
		</div>
	</main>
</body>

</html>