<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="utf-8" th:remove=tag />
	<meta name="viewport" content="width = device-width, initial-scale = 1">

	<link th:href="@{/css/list.css}" rel="stylesheet">

	<title>緊急 - プロジェクト管理アプリ</title>
</head>

<body>
	<div layout:fragment="content">
		<main class="offcanvas-outside bg-light">
			<div class="container-fluid">
				<!-- main content -->
				<div class="row">
					<div class="col">
						<div class="card shadow mt-2">
							<div class="card-header">
								<div class="d-flex justify-content-between align-items-center">
									<div class="d-flex">
										<h6 class="text-navy my-2"><i class="bi bi-megaphone me-2"></i>緊急</h6>
										<nav aria-label="breadcrumb" class="ms-4 my-auto">
											<ol class="breadcrumb my-auto">
												<li class="breadcrumb-item active" aria-current="page">一覧</li>
											</ol>
										</nav>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="container text-center">
									<div class="row">
										<a href="#" class="btn btn-outline-primary col-2 my-3 mx-3"
											role="button">
											<i class="bi bi-lightbulb me-2"></i>プロジェクト
										</a>
										<a href="#" class="btn btn-outline-primary col-2 my-3 mx-3"
											role="button">
											<i class="bi bi-clipboard-check me-2"></i>タスク
										</a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>